/*********
 * RESET *
 *********/

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

:root {
  /**********
    * COLORS *
    **********/

  --white: hsla(0, 0%, 100%, 1);
  --black: hsla(0, 0%, 0%, 1);
  --gray: hsla(0, 0%, 51%, 1);
  --primary: hsla(0, 0%, 4%, 1);
  --primary-light: hsla(0, 0%, 8%, 1);
  --secondary: hsla(0, 0%, 28%, 1);
  --accent: hsla(34, 75%, 50%, 1);

  /**************
 * TYPOGRAPHY *
 **************/

  --roboto: "Roboto";
  --inter: "Inter";
}

/*******************
 * UTILITY CLASSES *
 *******************/

.flex {
  display: flex;
}

.container {
  width: 95%;
  margin-inline: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/**********
 * LAYOUT *
 **********/

body {
  height: 100vh;
}

.nav-link {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
  color: var(--primary);
  font-style: normal;
  font-family: var(--roboto);
}

.nav-item {
  text-align: center;
}

.is-active {
  color: var(--accent);
}

.mobile-nav-toggle {
  display: none;
}

header {
  background: var(--white);
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding-inline: 3%;
  border-bottom: 1px solid #747474;
  margin-block-end: 5.62rem;
  position: sticky;
  top: 0;
}

@media screen and (max-width: 700px) {
  .primary-navigation {
    gap: clamp(1.5rem, 5vw, 3.5rem);
    list-style: none;
    padding: 0;
    margin: 0;
    background: hsl(var(--white) / 0.05);
    -webkit-backdrop-filter: blur(1.5rem);
    backdrop-filter: blur(1.5rem);
  }

  .primary-navigation {
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 0%;
    list-style: none;
    padding: min(20rem, 15vh) 2rem;
    margin: 0;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 500ms ease-in-out;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0);
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 2000;
    right: 1rem;
    top: 2rem;
    background: transparent;
    background-image: url(./assets/charm_menu-hamburger.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 1.5rem;
    aspect-ratio: 1;
    border: 0;
    cursor: pointer;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url(./assets/icon-close.svg);
    position: fixed;
  }

  .mobile-nav-toggle:focus-visible {
    outline: 5px solid white;
    outline-offset: 5px;
  }

  .nav-item:is(:not(:last-child)) {
    margin-bottom: 1.5rem;
  }

  header {
    border-bottom: 0;
    margin-block-end: 0;
  }
}

hr {
  background: rgba(11, 11, 11, 0.25);
  height: 0.0625rem;
  width: 95%;
  margin-inline: auto;
  margin-block-start: 1.25rem;
}

.logo p {
  color: var(--black);
  font-family: var(--roboto);
  font-weight: 700;
  line-height: normal;
  font-size: 1.875rem;
  font-style: normal;
}

.job-form {
  flex-direction: column;
  justify-content: center;
  padding-block: 1.5rem;
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-block: 1.88rem;
}

.job-form h2 {
  color: var(--primary, #0b0b0b);
  font-family: var(--inter);
  font-weight: 700;
  line-height: 130%;
  font-size: 1.625rem;
  font-style: normal;
  text-align: center;
}

.form {
  flex-direction: column;
  padding-block: 1.625rem;
  gap: 1.25rem;
  width: 95%;
  margin-inline: auto;
}

.search-bar {
  align-items: center;
  align-self: stretch;
  justify-content: start;
  gap: 0.625rem;
  padding-block: 0.75rem;
  border: 1px solid var(--primary, #0b0b0b);
  border-radius: 0.5rem;
  cursor: text;
}

.search-bar img {
  margin-inline-start: 0.25rem;
  cursor: pointer;
}

input {
  width: 90%;
  border: 0;
  outline: 0;
  background: transparent;
  color: var(--gray, #828282);
  font-family: var(--roboto);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.drop-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 0.75rem;
  padding-inline: 0.75rem;
  border: 1px solid var(--primary, #0b0b0b);
  border-radius: 0.5rem;
  cursor: text;
}

.drop-bar img {
  cursor: pointer;
}

.form .btn {
  padding: 0.75rem 2rem;
  border-radius: 0.5rem;
  border: 0;
  background: var(--accent);
  color: var(--white);
  font-family: var(--roboto);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  cursor: pointer;
}

.job-tags {
  margin-inline-start: 3%;
}

.tags-group {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.625rem;
}

.tag {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.tag p {
  color: var(--secondary);
  font-family: var(--roboto);
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.tag img {
  cursor: pointer;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.75rem;
}

.card:is(:last-child) {
  padding-block-end: 1.5rem;
}

.card h3 {
  color: var(--accent);
  font-family: var(--roboto);
  font-weight: 700;
  font-style: normal;
  font-size: 1.375rem;
  line-height: 150%;
  width: max-content;
  margin-block-end: 0.625rem;
}

.job-details p {
  color: var(--primary, #0b0b0b);
  font-family: var(--roboto);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.job-type {
  display: inline-flex;
  align-items: center;
  gap: 0.625rem;
  padding: 0.625rem;
  border-radius: 6.25rem;
  border: 1px solid var(--black);
  width: max-content;
  cursor: pointer;
}

.job-location {
  display: inline-flex;
  align-items: center;
  gap: 0.625rem;
  padding: 0.625rem;
  border-radius: 6.25rem;
  border: 1px solid var(--black);
  width: max-content;
  margin-inline-start: 0.5rem;
  cursor: pointer;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  width: 100%;
}

.btn-apply {
  padding: 0.75rem 2rem;
  border-radius: 0.5rem;
  border: 0;
  background: var(--accent);
  color: var(--white);
  font-family: var(--roboto);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  width: 100%;
  cursor: pointer;
}

.btn-view {
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--primary);
  color: var(--primary);
  font-family: var(--roboto);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  width: 100%;
  cursor: pointer;
}

.card:is(:not(:first-child)) {
  margin-block-start: 1.25rem;
}

.num-nav {
  display: none;
}

/******************
 * DESKTOP LAYOUT *
 ******************/

@media only screen and (min-width: 700px) {

  .container {
    width: 85%;
    margin-inline: auto;
  }

  header {
    padding-inline: 10%;
  }

  main {
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
    padding: 2.88rem;
  }

  .nav-list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2.5rem;
  }

  .nav-link {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 150%;
    color: var(--primary);
    font-style: normal;
    font-family: var(--roboto);
  }

  .is-active {
    color: var(--accent);
  }

  .job-form {
    margin-block-end: 3.75rem;
    width: 100%;
  }

  .job-form h2 {
    font-size: 1.875rem;
    text-align: left;
    padding-inline-start: 2%;
  }

  .job-form hr {
    margin-block-start: 1.19rem;
  }

  .form {
    flex-direction: row;
    justify-content: space-between;
  }

  .search-bar,
  .drop-bar,
  .btn {
    width: 100%;
  }

  .tag-desktop {
    display: none;
  }

  .card {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .job-details {
    width: 50%;
  }

  .buttons {
    width: 40%;
  }

  .job-cards hr {
    width: 100%;
    margin-block-start: 2.62rem;
  }

  .num-nav {
    display: block;
    text-align: center;
    margin-block-start: 3.13rem;
  }

  .num-nav span {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 150%;
    color: var(--black);
    font-style: normal;
    font-family: var(--roboto);
    cursor: pointer;
  }

  .num-nav .numbers {
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
    padding: 0.625rem;
  }

  .num-nav .num2 {
    color: var(--white);
    background: var(--accent);
    border-radius: 50%;
    display: flex;
    height: 1.9375rem;
    padding: 0.625rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
  }

  .numbers::after {
    content: ">";
    font-size: 1.3rem;
    color: var(--primary);
    cursor: pointer;
  }

  .numbers::before {
    content: "<";
    font-size: 1.3rem;
    color: var(--primary);
    cursor: pointer;
  }
}
