/*********
 * RESET *
 *********/

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

:root {
  /**********
    * COLORS *
    **********/

  --white: hsla(0, 0%, 100%, 1);
  --black: hsla(0, 0%, 0%, 1);
  --gray: hsla(0, 0%, 51%, 1);
  --primary: hsla(0, 0%, 4%, 1);
  --primary-light: hsla(0, 0%, 8%, 1);
  --secondary: hsla(0, 0%, 28%, 1);
  --accent: hsla(34, 75%, 50%, 1);

  /**************
 * TYPOGRAPHY *
 **************/

  --roboto: "Roboto";
  --inter: "Inter";
}

/*******************
 * UTILITY CLASSES *
 *******************/

.flex {
  display: flex;
}

.container {
  width: 95%;
  margin-inline: auto;
}

/**********
 * LAYOUT *
 **********/

body {
  height: 100vh;
}

.menu-desktop {
  display: none;
}

header {
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

hr {
  background: rgba(11, 11, 11, 0.25);
  height: 0.0625rem;
  width: 95%;
  margin-inline: auto;
  margin-block-start: 1.25rem;
}

.logo p {
  color: var(--black);
  font-family: var(--roboto);
  font-weight: 700;
  line-height: normal;
  font-size: 1.875rem;
  font-style: normal;
}

.job-form {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 1.5rem;
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-block: 1.88rem;
}

.job-form h2 {
  color: var(--primary, #0b0b0b);
  font-family: var(--inter);
  font-weight: 700;
  line-height: 130%;
  font-size: 1.625rem;
  font-style: normal;
  text-align: center;
}

.form {
  flex-direction: column;
  padding-block: 1.625rem;
  gap: 1.25rem;
}

.search-bar {
  align-items: center;
  align-self: stretch;
  justify-content: start;
  gap: 0.625rem;
  padding-block: 0.75rem;
  border: 1px solid var(--primary, #0B0B0B);
  border-radius: .5rem;
}

.search-bar img {
  margin-inline-start: .25rem;
}

.search-bar, .drop-bar p {
  color: var(--gray, #828282);
  font-family: var(--roboto);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.drop-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 0.75rem;
  padding-inline: 0.75rem;
  border: 1px solid var(--primary, #0B0B0B);
  border-radius: .5rem;
}

.form .btn {
  padding: 0.75rem 2rem;
  border-radius: .5rem;
  border: 0;
  background: var(--accent);
  color: var(--white);
  font-family: var(--roboto);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.tags-group {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.625rem;
}

.tag {
  display: flex;
  align-items: center;
  gap: .25rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.75rem;
}

.card h3 {
  color: var(--accent);
  font-family: var(--roboto);
  font-weight: 700;
  font-style: normal;
  font-size: 1.375rem;
  line-height: 150%;
  width: max-content;
  margin-block-end: 0.625rem;
}

.job-details p {
  color: var(--primary, #0B0B0B);
  font-family: var(--roboto);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.job-type {
  display: inline-flex;
  align-items: center;
  gap: 0.625rem;
  padding: 0.625rem;
  border-radius: 6.25rem;
  border: 1px solid var(--black);
  width: max-content;
}

.job-location {
  display: inline-flex;
  align-items: center;
  gap: 0.625rem;
  padding: 0.625rem;
  border-radius: 6.25rem;
  border: 1px solid var(--black);
  width: max-content;
  margin-inline-start: .5rem;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  width: 100%;
}

.btn-apply {
  padding: 0.75rem 2rem;
  border-radius: .5rem;
  border: 0;
  background: var(--accent);
  color: var(--white);
  font-family: var(--roboto);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  width: 100%;
}

.btn-view {
  padding: 0.75rem 2rem;
  border-radius: .5rem;
  border: 1px solid var(--primary);
  color: var(--primary);
  font-family: var(--roboto);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  width: 100%;
}

.card:is(:not(:first-child)) {
  margin-block-start: 1.25rem;
}